@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0.5%;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.columnar {
  columns: 25vw auto;
}

.blue {
  color: #1190cb;
  text-decoration: none;
}

.more-padding {
  padding-left: 2vw;
  padding-right: 2vw;
}

.nav-sticky--content {
  padding-top: 8vh;
}
