.navbar {
  display: flex;
  width: 100%;
  background-color: #1190cb;
  padding: 1vh;
  justify-content: space-around;
}

.nav-item {
  padding: 0.5em;
  display: inline-block;
  position: relative;
  color: #d2e9f4;
  font-size: 0.9em;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cee3ed;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in;
}
